In [1]:
import sys
sys.path.append("..")

In [2]:
from utils.db_connection import DBConnection
from utils.db_query_utils import DBQuery

In [3]:
import os
from pathlib import Path
config_path =  Path(os.getcwd())
config_path / "db.conf"

WindowsPath('C:/Users/a.tsereteli/Silknet_Cases/Case_11/notebooks/db.conf')

In [4]:
db_handler = DBConnection(config_file = "db.conf.sample",root_folder=r"C:\Users\a.tsereteli\Silknet_Cases\Case_11")
cursor = db_handler.get_cursor()

In [7]:
root = r"C:\Users\a.tsereteli\Silknet_Cases\Case_11"
test_query = DBQuery(file_name="cb_segmentation_with_variables.sql", cursor=cursor, by_steps=False, base_folder="queries", root_folder=root)

In [8]:
res = test_query.run()

In [10]:
df = res[0]

In [32]:
df

parquet = df["SUBS_ID",'LAST_CHARGE','TOTAL_CHARGE']

           SUBS_ID  LAST_CHARGE  TOTAL_CHARGE  SUBSCRIBER_ID SUBS_FIRST_ACTIVATION_DATE YEAR_OF_BIRTH  GENDER DEVICE_TYPE_LATEST  SUBS_TOTAL_LIFETIME_CHARGE     SUBS_ID LOC_REGION_NAME LOC_DISTRICT_NAME       LOC_STREET  DEVICE_TYPE DEVICE_BRAND       DEVICE_MODEL LAST_CHARGE_stratify TOTAL_CHARGE_stratify SUBS_FIRST_ACTIVATION_DATE_stratify SUBS_TOTAL_LIFETIME_CHARGE_stratify
0          59640.0     3.031933    308.758168        59640.0        2000-09-21 09:42:33          1960  Female            Phablet                 1812.466156     59640.0           აჭარა            ბათუმი       BATUMI_VOX      Phablet        Apple  iPhone 13 PRO MAX        (2.82, 3.105]     (307.601, 343.49]                 2000-09-21 09:42:33                (1716.12, 17914.939]
1          52010.0     7.483900     29.361490        52010.0        2000-06-13 11:57:35          1972    Male            Phablet                  259.950320     52010.0         თბილისი     ისანი-სამგორი   TSKALK_VAZISUB      Phablet       Xiaomi           Redmi 8A       (7.101, 7.878]      (29.168, 32.517]                 2000-06-13 11:57:35                   (152.288, 267.47]
2         216281.0    55.203912     51.806931       216281.0        2005-01-24 12:14:12          1973    Male            Phablet                  422.013433    216281.0         თბილისი    ვაკე-საბურთალო      DIDI_DIGOMI      Phablet       Realme               C21Y      (54.79, 64.124]       (51.005, 53.16]                 2005-01-24 12:14:12                   (385.15, 488.536]
3         716636.0    19.130451     47.584191       716636.0        2011-07-18 18:01:47          1979    Male            Phablet                  257.627217    716636.0         თბილისი    ვაკე-საბურთალო  VIL_DIGOMI_SILK      Phablet      Samsung         Galaxy A12     (18.754, 20.017]      (45.893, 49.178]                 2011-07-18 18:01:47                   (152.288, 267.47]
4         542352.0    12.111736     88.695005       542352.0        2010-06-21 18:25:16          1960  Female            Phablet                 1062.684200    542352.0    ქვემო ქართლი           რუსთავი    RUSTAVI_HOTEL      Phablet      Samsung         Galaxy A01     (11.929, 12.722]      (87.335, 93.058]                 2010-06-21 18:25:16                  (933.541, 1250.42]
...            ...          ...           ...            ...                        ...           ...     ...                ...                         ...         ...             ...               ...              ...          ...          ...                ...                  ...                   ...                                 ...                                 ...
659808  24571505.0     1.314398     72.459495     24571505.0        2002-03-19 07:00:00          1949    Male        Basic Phone                  410.529673  24571505.0           აჭარა            ბათუმი  SCHOOL_EURO2000  Basic Phone        Nokia               1202       (1.233, 1.822]       (69.66, 73.481]                 2002-03-19 07:00:00                   (385.15, 488.536]
659809  24451955.0    25.089259    155.960000     24451955.0        2010-05-11 22:29:09          1953  Female         Smartphone                  809.157084  24451955.0          კახეთი           ყვარელი          KVARELI   Smartphone        Apple           iPhone 6     (24.182, 26.196]    (154.303, 163.818]                 2010-05-11 22:29:09                   (728.57, 933.541]
659810  24492479.0    34.864699      1.727867     24492479.0        2007-11-17 18:59:32          1900    None            Phablet                   74.572901  24492479.0         თბილისი    ვაკე-საბურთალო   SABURTALO_HILL      Phablet       Huawei               Y5 2      (32.08, 35.992]   (-0.0009023, 1.996]                 2007-11-17 18:59:32                   (-0.001, 152.288]
659811  24500080.0     4.129711     50.408813     24500080.0        2009-01-22 15:28:33          1979    None            Phablet                  433.038665  24500080.0         თბილისი     ისანი-სამგორი  VARK_KHOMLEL_ST      Phablet       Xiaomi           Redmi 9A       (4.098, 4.617]      (49.178, 51.005]                 2009-01-22 15:28:33                   (385.15, 488.536]
659812         NaN     0.173519           NaN            NaN                        NaT          None    None               None                         NaN         NaN            None              None             None         None         None               None       (0.131, 0.259]                   nan                                 NaT                                 nan

[659813 rows x 20 columns]

In [22]:
"""
Basis - Simple Stratified_Sample
import BSG stratifier method and use on 
our dataframe 
* stratifier_col = "charge_lifecycle" - profile attr
* n_splits - ? , number of segment same profile
* num_variables_default_buckets ?
"""
from utils import stratified_sampling as sampling


str_sample = (sampling.proportional_stratified_sample
    (
    df=df,
    stratify_cols=["LAST_CHARGE","TOTAL_CHARGE"],
    n_splits=2,
    num_variables_default_buckets=50
))

str_sample

           SUBS_ID  LAST_CHARGE  TOTAL_CHARGE  SUBSCRIBER_ID SUBS_FIRST_ACTIVATION_DATE YEAR_OF_BIRTH  GENDER DEVICE_TYPE_LATEST  SUBS_TOTAL_LIFETIME_CHARGE     SUBS_ID LOC_REGION_NAME LOC_DISTRICT_NAME       LOC_STREET  DEVICE_TYPE DEVICE_BRAND       DEVICE_MODEL SUBS_FIRST_ACTIVATION_DATE_stratify SUBS_TOTAL_LIFETIME_CHARGE_stratify group
0          59640.0     3.031933    308.758168        59640.0        2000-09-21 09:42:33          1960  Female            Phablet                 1812.466156     59640.0           აჭარა            ბათუმი       BATUMI_VOX      Phablet        Apple  iPhone 13 PRO MAX                 2000-09-21 09:42:33                (1716.12, 17914.939]     0
1          52010.0     7.483900     29.361490        52010.0        2000-06-13 11:57:35          1972    Male            Phablet                  259.950320     52010.0         თბილისი     ისანი-სამგორი   TSKALK_VAZISUB      Phablet       Xiaomi           Redmi 8A                 2000-06-13 11:57:35                   (152.288, 267.47]     1
2         216281.0    55.203912     51.806931       216281.0        2005-01-24 12:14:12          1973    Male            Phablet                  422.013433    216281.0         თბილისი    ვაკე-საბურთალო      DIDI_DIGOMI      Phablet       Realme               C21Y                 2005-01-24 12:14:12                   (385.15, 488.536]     0
3         716636.0    19.130451     47.584191       716636.0        2011-07-18 18:01:47          1979    Male            Phablet                  257.627217    716636.0         თბილისი    ვაკე-საბურთალო  VIL_DIGOMI_SILK      Phablet      Samsung         Galaxy A12                 2011-07-18 18:01:47                   (152.288, 267.47]     0
4         542352.0    12.111736     88.695005       542352.0        2010-06-21 18:25:16          1960  Female            Phablet                 1062.684200    542352.0    ქვემო ქართლი           რუსთავი    RUSTAVI_HOTEL      Phablet      Samsung         Galaxy A01                 2010-06-21 18:25:16                  (933.541, 1250.42]     0
...            ...          ...           ...            ...                        ...           ...     ...                ...                         ...         ...             ...               ...              ...          ...          ...                ...                                 ...                                 ...   ...
659808  24571505.0     1.314398     72.459495     24571505.0        2002-03-19 07:00:00          1949    Male        Basic Phone                  410.529673  24571505.0           აჭარა            ბათუმი  SCHOOL_EURO2000  Basic Phone        Nokia               1202                 2002-03-19 07:00:00                   (385.15, 488.536]     0
659809  24451955.0    25.089259    155.960000     24451955.0        2010-05-11 22:29:09          1953  Female         Smartphone                  809.157084  24451955.0          კახეთი           ყვარელი          KVARELI   Smartphone        Apple           iPhone 6                 2010-05-11 22:29:09                   (728.57, 933.541]     0
659810  24492479.0    34.864699      1.727867     24492479.0        2007-11-17 18:59:32          1900    None            Phablet                   74.572901  24492479.0         თბილისი    ვაკე-საბურთალო   SABURTALO_HILL      Phablet       Huawei               Y5 2                 2007-11-17 18:59:32                   (-0.001, 152.288]     1
659811  24500080.0     4.129711     50.408813     24500080.0        2009-01-22 15:28:33          1979    None            Phablet                  433.038665  24500080.0         თბილისი     ისანი-სამგორი  VARK_KHOMLEL_ST      Phablet       Xiaomi           Redmi 9A                 2009-01-22 15:28:33                   (385.15, 488.536]     1
659812         NaN     0.173519           NaN            NaN                        NaT          None    None               None                         NaN         NaN            None              None             None         None         None               None                                 NaT                                 nan     1

[659813 rows x 19 columns]

In [25]:
"""
Test Method Stratifier:
if the split 10 groups charge_lifecycle average is same 
* avr charge_lifecycle == 63 
"""
res_str_sample = str_sample.groupby(by="group").agg(
    {"LAST_CHARGE": "mean", "TOTAL_CHARGE":"mean"}
)

In [26]:
res_str_sample

       LAST_CHARGE  TOTAL_CHARGE
group
0        16.327611    104.818087
1        16.325337    104.798002

In [27]:
df.groupby(by="LOC_REGION_NAME").agg(
    {'LAST_CHARGE':'mean','TOTAL_CHARGE':'mean'}
)

                          LAST_CHARGE  TOTAL_CHARGE
LOC_REGION_NAME
აჭარა                       15.454186    105.313383
გურია                       17.425147     83.159754
თბილისი                     15.478569    122.874541
იმერეთი                     17.449784     86.990402
კახეთი                      17.185706     86.574185
მცხეთა-მთიანეთი             16.557754    107.429117
რაჭა - ქვემო სვანეთი        17.651107     95.572717
სამეგრელო - ზემო სვანეთი    18.369801     83.734568
სამცხე-ჯავახეთი             18.583213     87.562944
ქვემო ქართლი                17.318353     91.694123
შიდა ქართლი                 16.842031     86.478115

In [28]:
group_a = df[df['LOC_REGION_NAME'] == 'აჭარა']['LAST_CHARGE']
group_b = df[df['LOC_REGION_NAME'] == 'იმერეთი']['LAST_CHARGE']

In [30]:
from scipy import stats
t_statistic, p_value = stats.ttest_ind(group_a, group_b)

In [31]:
# Print the results
print(f'T-Statistic: {t_statistic}')
print(f'P-Value: {p_value}')

# Interpret the results based on the p-value
alpha = 0.05  # Set your significance level
if p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference between groups A and B.")
else:
    print("Fail to reject the null hypothesis: There is no significant difference between groups A and B.")

T-Statistic: -23.15957608511025
P-Value: 1.704903842093835e-118
Reject the null hypothesis: There is a significant difference between groups A and B.