In [ ]:
# from SELECT import extract_table
# 
# extract_table("segments_static_cb.sql")

In [1]:
import pandas as pd

df = pd.read_csv("cb_static_data.csv")

df

,,SUBS_ID,ACTIVATION_DATE,STATUS_NAME,STATUS_DATE,STATUS_DESC_NAME,LOC_DISTRICT_NAME,LOC_REGION_NAME,DEVICE_CAT,DEVICE_TYPE,DEVICE_MODEL,BIRTH_DAY,GENDER,SUBS_ID.1,LAST_REFILL_DATE,DAYS_PASSED_LAST_REFILL,LAST_TOPUP_DATE,DAYS_PASSED_LAST_TOPUP,AMOUNT,TOPUP_OFFER_NAME
0,1,391431.0,3/27/2009 2:06:14 PM,Active,5/25/2023 2:00:44 PM,Partial by credit check,ისანი-სამგორი,თბილისი,M,Phablet,Redmi Note 10s,2/8/1980,Male,391431,6/21/2023 8:01:07 PM,83.860162,NaN,NaN,NaN,NaN
1,2,88850.0,12/12/2000 4:37:17 PM,Active,7/5/2023 1:17:31 PM,Partial by credit check,დიდუბე-ჩუღურეთი,თბილისი,M,Phablet,Galaxy S21 5G,6/11/1971,Male,88850,7/5/2023 1:17:28 PM,70.140475,7/5/2023 1:14:55 PM,70.142245,8.0,METI S Plus one-time top-up
2,3,33191.0,6/18/1997 9:19:35 AM,Partial,9/4/2023 1:54:43 PM,Partial by credit check,ძველი თბილისი,თბილისი,M,Phablet,Note 10 Lite,5/10/1942,Male,33191,7/3/2023 5:23:39 PM,71.969514,6/24/2023 12:03:54 PM,81.191563,11.0,*135# 4000 MB - 11 GEL topup
3,4,40394.0,7/22/1997 8:14:14 PM,Active,7/10/2023 2:26:37 PM,Partial by debt,ვაკე-საბურთალო,თბილისი,M,Feature Phone,GT-C3752,10/13/1961,Male,40394,7/10/2023 2:26:33 PM,65.092500,NaN,NaN,NaN,NaN
4,5,294965.0,6/11/2007 1:36:30 PM,Active,1/1/2023 3:27:11 PM,Partial by credit check,დიდუბე-ჩუღურეთი,თბილისი,M,Smartphone,iPhone 5S,11/5/1978,Male,294965,6/16/2023 12:16:20 PM,89.182928,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130194,130195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24109606,7/8/2023 1:56:22 AM,67.613461,NaN,NaN,NaN,NaN
130195,130196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1779984853,7/6/2023 7:52:18 PM,68.866285,7/6/2023 7:52:23 PM,68.866227,10.0,METI M 10 GEL_One_time top-up
130196,130197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26812944,7/12/2023 6:51:38 PM,62.908414,NaN,NaN,NaN,NaN
130197,130198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28805857,6/29/2023 12:24:44 PM,76.177095,NaN,NaN,NaN,NaN
130198,130199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1767215811,7/13/2023 9:36:38 AM,62.293831,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130199 entries, 0 to 130198
Data columns (total 20 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0                            130199 non-null  int64
 1   SUBS_ID                  127760 non-null  float64
 2   ACTIVATION_DATE          127760 non-null  object
 3   STATUS_NAME              127760 non-null  object
 4   STATUS_DATE              127760 non-null  object
 5   STATUS_DESC_NAME         126088 non-null  object
 6   LOC_DISTRICT_NAME        126727 non-null  object
 7   LOC_REGION_NAME          126727 non-null  object
 8   DEVICE_CAT               127760 non-null  object
 9   DEVICE_TYPE              126347 non-null  object
 10  DEVICE_MODEL             126347 non-null  object
 11  BIRTH_DAY                124906 non-null  object
 12  GENDER                   105940 non-null  object
 13  SUBS_ID.1                130199 non-null  int64
 14  LAST_REFILL_DATE         130199 non-null  object
 15  DAYS_PASSED_LAST_REFILL  130199 non-null  float64
 16  LAST_TOPUP_DATE          29455 non-null   object
 17  DAYS_PASSED_LAST_TOPUP   29455 non-null   float64
 18  AMOUNT                   29455 non-null   float64
 19  TOPUP_OFFER_NAME         29443 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 19.9+ MB

In [2]:
df.groupby(by="STATUS_NAME").aggregate({"SUBS_ID":"count"})

             SUBS_ID
STATUS_NAME
Active         62009
Partial        65751

In [6]:
df.groupby(by="DEVICE_TYPE").aggregate({"SUBS_ID":"count"})

                           SUBS_ID
DEVICE_TYPE
Basic Phone                   7566
Feature Phone                 7652
IoT Device                      36
Mobile broadband PCI card      531
Phablet                      88229
Router                         488
Smartphone                   20771
Tablet                         630
USB Modem                      199
Wearable                       245

In [5]:
partial = df [df["STATUS_NAME"]=="Partial"] 

partial["STATUS_DESC_NAME"].value_counts()

STATUS_DESC_NAME
Partial by credit check    65622
Forced by no refil            87
Partial by no refil           34
Partial by debt                6
Ported force                   1
Voluntary block                1
Name: count, dtype: int64